body {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 300;
}

ul.borderless .list-group-item {
  border: 0 none;
  padding: 10px 10px;
}

a:hover{
  color: darkred !important;
}

.content a:hover{
  font-weight: 500;
}

.content {
  font-size: 16px;
  line-height: 1;
  font-weight: 350;
  padding: 30px 20px;
}

li.cortina {
    color: #c6cec6;
}

span.year {
    float: right;
    color: #c6cec6;
}

header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
    padding: 120px 0;
}

.title {
    color: #777;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
    display: block;
    margin: -20px 0 30px 20px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#mainNav .navbar-brand {
    font-weight: 600;
}